<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span class="mt--1" aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm" role="form">
        <div class="form-group">
            <label class="form-control-label" for="username">Old password</label>
            <input formControlName="oldPassword" type="password" id="oldPassword"
                class="form-control form-control-alternative" placeholder="Old password"
                [ngClass]="changePasswordForm.controls.oldPassword.invalid && (changePasswordForm.controls.oldPassword.dirty || changePasswordForm.controls.oldPassword.touched) ? 'is-invalid':'is-valid'">
            <span class="form-error"
                *ngIf="(changePasswordForm.controls.oldPassword.invalid && (changePasswordForm.controls.oldPassword.dirty || changePasswordForm.controls.oldPassword.touched)) && changePasswordForm.controls.oldPassword.hasError('required')">
                Old password is required.
            </span>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="username">New password</label>
            <input formControlName="newPassword" type="password" id="newPassword"
                class="form-control form-control-alternative" placeholder="New password"
                [ngClass]="changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched) ? 'is-invalid':'is-valid'">
            <span class="form-error"
                *ngIf="(changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched)) && changePasswordForm.controls.newPassword.hasError('required')">
                New password is required.
            </span>
            <span class="form-error"
                *ngIf="(changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched)) && changePasswordForm.controls.newPassword.hasError('PasswordStrength')">
                {{changePasswordForm.controls.newPassword.errors?.PasswordStrength}}
            </span>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="username">Confirm password</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword"
                class="form-control form-control-alternative" placeholder="Confirm password"
                [ngClass]="changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched) ? 'is-invalid':'is-valid'">
            <span class="form-error"
                *ngIf="(changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched)) && changePasswordForm.controls.confirmPassword.hasError('required')">
                Confirm password is required.
            </span>
            <span class="form-error"
                *ngIf="(changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched)) && changePasswordForm.controls.confirmPassword.hasError('PasswordStrength')">
                {{changePasswordForm.controls.confirmPassword.errors?.PasswordStrength}}
            </span>
        </div>
        <div>
            <button type="button" class="btn btn-default" (click)="changePassword()">Save</button>
        </div>
    </form>
</div>