<div class="container mt-6 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h3>Sign in</h3>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isServerError">
            <strong>Opps!</strong> Invalid username/email or password!
          </div>
          <form role="form" [formGroup]="loginForm" (submit)="submit()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative"
                [ngClass]="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched) ? 'is-invalid':'is-valid'">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input formControlName="username" class="form-control" placeholder="Username/Email" type="text">
              </div>
              <span class="form-error"
                *ngIf="(loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)) && loginForm.controls.username.hasError('required')">
                Username/Email is required.
              </span>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative"
                [ngClass]="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched) ? 'is-invalid':'is-valid'">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input formControlName="password" class="form-control" placeholder="Password" type="password">
              </div>
              <span class="form-error"
                *ngIf="(loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)) && loginForm.controls.password.hasError('required')">
                Password is required.
              </span>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Sign in</button>
            </div>

          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-light"><small>Contact Administration</small></a>
        </div>
      </div>
    </div>
  </div>
</div>