<div class="main-content">
    <div class="header pb-8 pt-5 pt-lg-7 d-flex align-items-center top-grediant-background">
        <!-- Mask -->
        <span class="mask bg-gradient-danger opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">                    
                    <h1>Dashboard is working !!!</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
    </div>
</div>