<div class="main-content">
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total User(s)</h5>
                                        <span class="h2 font-weight-bold mb-0">32</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Admin(s)</h5>
                                        <span class="h2 font-weight-bold mb-0">4</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-user-shield"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Manager(s)</h5>
                                        <span class="h2 font-weight-bold mb-0">10</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-user-tie"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Staff(s)</h5>
                                        <span class="h2 font-weight-bold mb-0">18</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-user-friends"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">All Users</h3>
                        <hr class="my-4" />

                        <div class="row">
                            <div class="col-lg-6">
                                <button [routerLink]="['add-user']" type="button" class="btn btn-default btn-md"><i class="fas fa-plus"></i>
                                    User</button>
                            </div>
                            <div class="col-lg-6 d-flex">
                                <input class="form-control w-80 mr-2" size="40" type="search"
                                    placeholder="Type to search..." aria-label="Search">
                                <div ngbDropdown class="w-20">
                                    <button type="button" class="btn btn-outline-light w-100 btn-md"
                                        ngbDropdownToggle><i class="fas fa-sort-amount-down"></i> Filter</button>
                                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>                                    
                                    <th scope="col">Name</th>
                                    <th scope="col">Restaurant</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Is Active</th>
                                    <!-- <th scope="col">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a [routerLink]="['user-details','bharat1510']" class="font-weight-bold">bharat1510</a></td>
                                    <td>Bharat Vora</td>
                                    <td>Coffee Castle</td>
                                    <td>Male</td>

                                    <td><span class="badge bg-info text-dark">Superadmin</span></td>
                                    <!-- <td><span class="badge bg-warning text-white">Admin</span></td> -->
                                    <!-- <td><span class="badge bg-primary text-white">Manager</span></td> -->
                                    <!-- <td><span class="badge bg-secondary text-dark">Staff</span></td> -->

                                    <td><span class="badge bg-success">Active</span></td>
                                    <!-- <td><span class="badge bg-danger text-white">Inactive</span></td> -->


                                    <!-- <td>
                                        <button type="button" class="btn btn-outline-info btn-sm"><i
                                                class="fas fa-eye"></i></button>
                                        <button type="button" class="btn btn-outline-warning btn-sm"><i
                                                class="fas fa-edit"></i></button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </td> -->
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td><a href="#" class="font-weight-bold">dhruvi123</a></td>
                                    <td>Dhruvi Prajapati</td>                                    
                                    <td>Coffee Culture</td>
                                    <td>Female</td>

                                    <!-- <td><span class="badge bg-info text-dark">Superadmin</span></td> -->
                                    <!-- <td><span class="badge bg-warning text-white">Admin</span></td> -->
                                    <td><span class="badge bg-primary text-white">Manager</span></td>
                                    <!-- <td><span class="badge bg-secondary text-dark">Staff</span></td> -->

                                    <!-- <td><span class="badge bg-success">Active</span></td> -->
                                    <td><span class="badge bg-danger text-white">Inactive</span></td>


                                    <!-- <td>
                                        <button type="button" class="btn btn-outline-info btn-sm"><i
                                                class="fas fa-eye"></i></button>
                                        <button type="button" class="btn btn-outline-warning btn-sm"><i
                                                class="fas fa-edit"></i></button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0)">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">2 <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>