// Scroll bar style
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    border: 1px solid #d5d5d5;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// Hide spinner arrow from input[type=number]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.is-invalid{
    border: 0.01em solid red !important;
}

.form-error{
    font-size: 75% !important;
    color: red !important;
}

// Ng-Bootstrap Modal Custome style
.modal-header{
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
    padding-bottom: 0.75rem !important;
    h4{
        color: white !important;
    }
    span{
        color: white !important;  
        font-size: 24px !important;       
        margin-top: -3px !important;
    }
}

.modal-body{
    background-color: #f7fafc !important;
    border-bottom-left-radius: 0.4375rem !important;
    border-bottom-right-radius: 0.4375rem !important;
}