<div class="header pb-8 pt-5 pt-lg-7 d-flex align-items-center top-grediant-background">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h3 class="display-4 text-white">Hello Keyur</h3>
                <p class="text-white mt-0 mb-3">This is your profile page.
                    You can manage your personal details and see
                    your work.</p>
                <a href="#!" class="btn btn-primary">Edit profile</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">My account</h3>
                        </div>
                        <div class="col-4 text-right">
                            <a class="btn btn-sm btn-primary userprofileflag">Super Admin</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input type="email" id="input-email"
                                            class="form-control form-control-alternative"
                                            placeholder="jesse@example.com">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-name">Full name</label>
                                        <input type="text" id="input-name" class="form-control form-control-alternative"
                                            placeholder="Full Name" value="Keyur Khant">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Mobile number</label>
                                        <input type="email" id="input-email"
                                            class="form-control form-control-alternative"
                                            placeholder="jesse@example.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Application Access</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="">Modification Permission</label>
                                        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                            <input class="custom-control-input" id="customer" type="checkbox">
                                            <label class="custom-control-label" for="customer">Customer</label>
                                        </div>
                                        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                            <input class="custom-control-input" id="manager" type="checkbox">
                                            <label class="custom-control-label" for="manager">Manager</label>
                                        </div>
                                        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                            <input class="custom-control-input" id="admin" type="checkbox">
                                            <label class="custom-control-label" for="admin">Admin</label>
                                        </div>
                                        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                            <input class="custom-control-input" id="superadmin" type="checkbox">
                                            <label class="custom-control-label" for="superadmin">Super Admin</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="">Last login</label>
                                        <h5 class="display-5">12/02/2021 12:25 AM</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Delete Account</h6>
                        <div class="pl-lg-4">
                            <p class="h5 pb-3 text-danger">This action will delete your account permanently. You can't access you account again.</p>
                            <a href="#!" class="btn btn-outline-danger">Delete Account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>